/*Target all elements on the window - rule applied to all*/
*{
    /*factors in the margin and padding into the width*/
    box-sizing: border-box;
}

body{
    color: black;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
}

/* to ensure the text area text is the same as the other inputs*/
.text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

/** display flex added to enable a responsive nature to the form**/
.container{
    display: flex;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    padding: .5em;
}

.contact h3{
    text-align: center;
}

ul{
    /*Remove default styling on list*/
    list-style: none;
    padding: 0;
}

.logo{
    text-align: center;
    color: white;
}

.wrapper{
    box-shadow: 0 0 15px 0 rgba(72, 94, 0, 0.6);
    width: 500px;
    max-width: 1200px;
    
}

/*Target all direct elements in the wrapper*/
.wrapper > *{
    padding: 1em;
}

.info{
    background: #259B37;
    padding: 1px;
}

.info h3, .info ul{
    text-align: center;
    margin: 0 0 1rem 0;
    color: white;
}

.contact{
    background: whitesmoke;
}

.contact h3{
    text-transform: uppercase;
    letter-spacing: 0.02em;
    margin: 0;
}


/***********FORM STYLES***********/

.form{
    padding: 5px 10px;
}

.form-control{
    margin-bottom: 0px;
    position: relative;
}

.form-control label{
    display: inline-block;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.form-control input, textarea{
    display: block;
    padding: 9px;
    width: 100%;
}

/**success class is added to both input and text area, 
adding a green border to indicate success **/
.form-control.success input,
.form-control.success textarea{
    border: 2.5px solid green;
}

/**error class is added to both input and text area, 
adding a red border to indicate error in input **/
.form-control.error input,
.form-control.error textarea{
    border: 2.5px solid red;
}

/** this is the error message that will be hidden until
javascript will reveal if an error is present*/
.form-control small{
    visibility: none;
    bottom: 0;
    left: 0;
}

/** this is the error message that will be hidden until
javascript will reveal if an error is present - highlight in red*/
.hidden{
    visibility: hidden;
    color: red;
}

#count-result{
    margin: 0;
    font-size: 0.64rem;
}

/** this is for the thank you message that will be hidden until
javascript reveals on form validation success*/
.hide{
    visibility: hidden;
}

button{
    width: 100%;
    font-size: 1rem;
    padding: 10px;
    background: #259B37;
    color: white;
    border: none;
    margin: 10px 0;
}
